/*
 *
 * Author: Russell Elliott
 * Date Created: 2024/03/20
 *
 * This stylesheet defines the layout and appearance of the navigation bar and footer across the website
 * It ensures a consistent look and feel while providing a responsive design
 *
 */

body
{
	padding: 70px 50px 200px 200px;
	margin: 0;
	display: flex;
	flex-direction: column;
}

.navbar, footer
{
	position: fixed;
	left: 0;
	right: 0;
	z-index: 1030;
}

.nav-inner
{
	display: flex;
	align-items: center;
	width: 100%;
	padding-left: 200px;
	padding-right: 200px;
}

.navbar-nav
{
	display: flex;
}

.navbar-spacer
{
	flex-grow: 1;
}

.icon-small
{
	width: 40px;
	height: 40px;
}


.dropdown-menu
{
	background-color: #28a745;
	border: none;
	border-radius: 0;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dropdown-item
{
	color: #ffffff;
	padding: 10px 20px;
}

.dropdown-item:hover, .dropdown-item:focus
{
	background-color: #218838;
	color: #ffffff;
}
